*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: blanchedalmond;
}

section{
    width: 400px;
    height: 200px;
}

p{
font-size: 64px;
line-height: 200px;

}

.box-green{ 
color: white;
background-color: green;

}

.box-blue{
    color: black;
    background-color: blue;
}

.box-red{
color: white;
background-color: red;
}